*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #605959;
  font-family: Arial, sans-serif;
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
header{
  font-size: 2rem;
  margin-bottom: 20px;
}
button{
  background-color: #141414;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}